
/* Board */
.board {
	width: 512px;
}
.board-cell {
	float: left;
	width: 64px;
	height: 64px;

	border: 1px solid #000000;
	background-color: #5f5f5f;
}

/* Tiles */
.tile {
	width: 64px;
	height: 64px;
}

.tile-brick-ns {
	background-image: url('/gfx/tile-NS.png');
}
.tile-brick-we {
	background-image: url('/gfx/tile-WE.png');
}
.tile-brick-nw {
	background-image: url('/gfx/tile-NW.png');
}
.tile-brick-ne {
	background-image: url('/gfx/tile-NE.png');
}
.tile-brick-sw {
	background-image: url('/gfx/tile-SW.png');
}
.tile-brick-se {
	background-image: url('/gfx/tile-SE.png');
}

.tile-elephant {
	background-image: url('/gfx/elephant.png');
}
.tile-wurst {
	background-image: url('/gfx/wurst.png');
}
.tile-block {
	background-image: url('/gfx/block.png');
}
.tile-fellow {
	background-image: url('/gfx/fellow.png');
}
